<% if flash[:errors] %>
  Sorry, there were the following problems with the form:
  <ul id="errors">
    <% flash.now[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<h1>Please sign in</h1>

<form method="post" action="/sessions">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign in">
</form>

