<h1>Please sign in</h1>

<form method="post" action="/sessions">
  <p><input type="text" name="email" placeholder="E-mail"></p>
  <p><input type="password" name="password" placeholder="Password"></p>
  <input type="submit" value="Sign in" class="button">
</form>

