<div id="new-link">
  <form action="/links" method="post">
    <p> <input type="text" name="url" placeholder="URL"></p>
    <p> <input type="text" name="title" placeholder="Title"></p>
    <p> <input type="text" name="tags" placeholder="Tags (separated by spaces)"></p>
    <input type = "submit" value = "Add link" class="button">
  </form>
</div>

