<!DOCTYPE html>
<html>
  <head>
      <title>Bookmark manager</title>
        <link rel="stylesheet" type="text/css" href="/css/reset.css">
        <link rel="stylesheet" type="text/css" href="/css/application.css">  
      </head>
<body>
  <div class="page-wrap">
  <%= partial :header %>
  <%= partial :flash %>
  <div class="container">
  <%= yield %>
</div>
</div>
  <%= partial :footer %>
</body>
</html>

