<li class='link'>
<a class="title" href="<%= link.url %>"><%= link.title %></a>
  <section class="description">
    Lorem ipsum text text text
  </section>
  <span class="source">
    added yesterday by
    <a href="#">spike01@gmail.com</a>
  </span>
</li>

